<div class="h-screen w-64 bg-dark text-white flex flex-col p-6">
  <h1 class="text-xl font-bold mb-8">StockFlow</h1>

  <nav class="flex flex-col gap-4">
    <a routerLink="/dashboard" routerLinkActive="text-primary font-semibold" class="hover:text-primary transition">Dashboard</a>
    <a routerLink="/orders" routerLinkActive="text-primary font-semibold" class="hover:text-primary transition">Orders</a>
    <a routerLink="/products" routerLinkActive="text-primary font-semibold" class="hover:text-primary transition">Products</a>
  </nav>
</div>
