<div class="bg-white p-6 rounded-2xl shadow">
  <!-- header -->
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-xl font-semibold">Orders</h2>
  </div>

  <!-- loading skeleton -->
  @if (store.loading()) {
    <div class="animate-pulse space-y-3">
      @for (i of [1, 2, 3, 4, 5]; track i) {
        <div class="h-10 bg-slate-200 rounded"></div>
      }
    </div>
  }

  <!-- error -->
  @if (store.error()) {
    <div class="text-red-500 bg-red-50 p-3 rounded">
      {{ store.error() }}
    </div>
  }

  <!-- empty -->
  @if (!store.loading() && store.orders().length === 0) {
    <div class="text-center text-slate-500 py-10">No orders found 📭</div>
  }

  <!-- table -->
  @if (!store.loading() && store.orders().length > 0) {
    <table class="w-full text-left">
      <thead>
        <tr class="border-b text-sm text-slate-500">
          <th
            (click)="store.setSortById()"
            class="py-3 cursor-pointer hover:bg-slate-100 px-2 rounded-t-lg transition-colors select-none"
          >
            <div class="flex items-center gap-1">
              ID
              <span class="text-[10px] text-blue-500">
                {{ store.orders().length > 0 ? '⇅' : '' }}
              </span>
            </div>
          </th>
          <th>Status</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        @for (order of store.orders(); track order.id) {
          <tr class="border-b hover:bg-slate-50 transition">
            <td class="py-3 font-medium">#{{ order.id }}</td>

            <!-- STATUS BADGE -->
            <td>
              <span
                class="px-2 py-1 rounded-full text-xs font-medium"
                [ngClass]="{
                  'bg-orange-100 text-orange-600': order.status === 'CREATED',
                  'bg-green-100 text-green-600': order.status === 'COMPLETED',
                  'bg-yellow-100 text-yellow-600': order.status === 'PENDING',
                  'bg-red-100 text-red-600': order.status === 'CANCELLED',
                }"
              >
                {{ order.status }}
              </span>
            </td>

            <!-- MONEY FORMAT -->
            <td class="font-semibold">
              {{ order.totalAmount | currency }}
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- pagination -->
    <div class="flex justify-between items-center mt-6">
      <button
        (click)="store.prevPage()"
        [disabled]="store.page() === 0"
        class="px-4 py-2 border rounded disabled:opacity-50"
      >
        Prev
      </button>

      <span class="text-sm text-slate-500">
        Page {{ store.page() + 1 }} of {{ store.totalPages() }}
      </span>

      <button
        (click)="store.nextPage()"
        [disabled]="store.page() >= store.totalPages() - 1"
        class="px-4 py-2 border rounded disabled:opacity-50"
      >
        Next
      </button>
    </div>
  }
</div>
